In [11]:
import pandas as pd
import numpy as np
import math
df=pd.read_csv('framingham.csv')
df.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4240 entries, 0 to 4239
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             4240 non-null   int64
 1   age              4240 non-null   int64
 2   education        4135 non-null   float64
 3   currentSmoker    4240 non-null   int64
 4   cigsPerDay       4211 non-null   float64
 5   BPMeds           4187 non-null   float64
 6   prevalentStroke  4240 non-null   int64
 7   prevalentHyp     4240 non-null   int64
 8   diabetes         4240 non-null   int64
 9   totChol          4190 non-null   float64
 10  sysBP            4240 non-null   float64
 11  diaBP            4240 non-null   float64
 12  BMI              4221 non-null   float64
 13  heartRate        4239 non-null   float64
 14  glucose          3852 non-null   float64
 15  TenYearCHD       4240 non-null   int64
dtypes: float64(9), int64(7)
memory usage: 530.1 KB

In [4]:
series=pd.isnull(df['cigsPerDay'])
series

0       False
1       False
2       False
3       False
4       False
        ...
4235    False
4236    False
4237    False
4238    False
4239    False
Name: cigsPerDay, Length: 4240, dtype: bool

In [13]:
data=df.drop(['currentSmoker','education'],axis=1)
cigs=data['cigsPerDay']
cig_mean=cigs.mean()
int_val=math.floor(cig_mean)
cigs.fillna(int_val,inplace=True)
data.dropna(axis=0,inplace=True)

In [14]:
cigs

0        0.0
1        0.0
2       20.0
3       30.0
4       23.0
        ...
4235    20.0
4236    15.0
4237     0.0
4238     0.0
4239    30.0
Name: cigsPerDay, Length: 4240, dtype: float64

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3776 entries, 0 to 4239
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             3776 non-null   int64
 1   age              3776 non-null   int64
 2   cigsPerDay       3776 non-null   float64
 3   BPMeds           3776 non-null   float64
 4   prevalentStroke  3776 non-null   int64
 5   prevalentHyp     3776 non-null   int64
 6   diabetes         3776 non-null   int64
 7   totChol          3776 non-null   float64
 8   sysBP            3776 non-null   float64
 9   diaBP            3776 non-null   float64
 10  BMI              3776 non-null   float64
 11  heartRate        3776 non-null   float64
 12  glucose          3776 non-null   float64
 13  TenYearCHD       3776 non-null   int64
dtypes: float64(8), int64(6)
memory usage: 442.5 KB

In [17]:
hight_risk=data[data.TenYearCHD==1]
low_risk=data[data.TenYearCHD==0]
final=data.drop(['diaBP','BMI','heartRate'],axis=1)
final

,male,age,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,glucose,TenYearCHD
0,1,39,0.0,0.0,0,0,0,195.0,106.0,77.0,0
1,0,46,0.0,0.0,0,0,0,250.0,121.0,76.0,0
2,1,48,20.0,0.0,0,0,0,245.0,127.5,70.0,0
3,0,61,30.0,0.0,0,1,0,225.0,150.0,103.0,1
4,0,46,23.0,0.0,0,0,0,285.0,130.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...
4233,1,50,1.0,0.0,0,1,0,313.0,179.0,86.0,1
4234,1,51,43.0,0.0,0,0,0,207.0,126.5,68.0,0
4237,0,52,0.0,0.0,0,0,0,269.0,133.5,107.0,0
4238,1,40,0.0,0.0,0,1,0,185.0,141.0,72.0,0
4239,0,39,30.0,0.0,0,0,0,196.0,133.0,80.0,0

In [21]:
X=final[['male','age','cigsPerDay','BPMeds','prevalentHyp','diabetes','totChol','sysBP','glucose']]
y=final['TenYearCHD']

0       0
1       0
2       0
3       1
4       0
       ..
4233    1
4234    0
4237    0
4238    0
4239    0
Name: TenYearCHD, Length: 3776, dtype: int64

In [22]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=99)

In [24]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()
model.fit(x_train,y_train)
model.score(x_test,y_test)*100

C:\Users\Zen\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

85.71428571428571